/*table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd)	{
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
*/
.image{
    /*background:url(https://1239889624.rsc.cdn77.org/sheet/dg_armor2.gif);*/
    background-repeat:no-repeat;    
    max-width: 32px;
    width: 32px;
    height: 32px;
    padding: 0;
}
